name: Android CI

on:
  push:
    branches: 
      - main
      - dev
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload the test report
      if: failure()
      uses: actions/upload-artifact@v2.2.3
      with:
        name: TestReport
        path: |
          feature-monster-compendium/build/reports/tests
          data/build/reports/tests
          domain/build/reports/tests
    - name:  Upload an APK
      uses: actions/upload-artifact@v2.2.3
      with:
        name: app-release
        path: app/build/outputs/apk/release/app-release.apk
