name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload the test report
      if: failure()
      uses: actions/upload-artifact@v2.2.3
      with:
        name: TestReport
        path: |
          **/build/reports/tests/testReleaseUnitTest/**
    - name: Build Debug APK
      run: ./gradlew assembleDebug
    - name:  Upload an APK
      uses: actions/upload-artifact@v2.2.3
      with:
        name: app-debug.apk
        path: app/build/outputs/apk/debug/app-debug.apk
